BasedOnStyle: LLVM
ColumnLimit: 0
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
IndentWidth: 4